@page
@model AboutModel
@{
   ViewData["Title"] = "About the Cap'n";
}
<div class="container-fluid mt-1 text-center">
   <div class="row mb-2">
      <div class="col-3"></div>
      <div class="col-6"><h2>@Model.Message</h2></div>
      <div class="col-3"></div>
   </div>
   <div class="row mb-1">
      <div class="col"></div>
      <div class="col-xl-4 col-lg-8 col-md-8 col-sm-12">
         PirateKingB LLC is an Online Streamer provided on <a class="pirate-link" href="https://twitch.tv/piratekingb" target="_blank" rel="noopener noreferrer">Twitch</a>. This adventure was started in January of 2021 during a time where death and sadness is rampant in the world.
         I wanted to provide an outlet to people that wanted an escape from the norm to come and laugh and grow together.
         I am a former Marine currently Retired and have been playing games for YEARS. I am also a Game Designer since 2017. I am also a Husband and Father to one son and one fur-baby.
         Please come watch and follow at your leisure.
      </div>
      <div class="col"></div>
   </div>
   <div class="row">
      <div class="col-12">
         <div class="carousel slide multi-item-carousel" id="shiverMeCarouselMatey" data-ride="carousel" data-interval="2000">
            <ol class="carousel-indicators"></ol>
            <div class="carousel-inner"></div>
         </div>
         <a class="carousel-control-prev" href="#shiverMeCarouselMatey" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#shiverMeCarouselMatey" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
         </a>
      </div>
   </div>
</div>

<script src="@Url.Content("~/js/site.js")"></script>
<script>
   $(document).ready(function () {
      $('@Html.Raw(Model.AboutCarouselItems)').appendTo('.carousel-inner');
      $('@Html.Raw(Model.AboutListItems)').appendTo('.carousel-indicators');
      //CarouselEvent();
   });
</script>