@page
@model IndexModel
@{
    ViewData["Title"] = "The Pirate's Cove";
}

@section Head {
    <style type="text/css">
        body {
            background-image: url("@Url.Content("~/images/Transparent Logo.png")");
            background-position: 50% 8%;
            background-repeat: no-repeat;
            background-size: 45%;
        }
    </style>
}
@*

<div class="container mt-1 text-center">
   <div class="row">
      <div class="col-12">
         <img class="pirate-image-main" src="@Url.Content("~/images/Transparent Logo2.png")" />
      </div>
   </div>
</div>*@
