@page
@model IndexModel
@{
    ViewData["Title"] = "PirateKingB's Home page";
}

<div class="container-fluid mt-1 text-center">
   <div class="row">
      <div class="col-12">
         <img class="pirate-image-main" style="overflow: hidden;" src="@Url.Content("~/images/Transparent Logo.png")" />
      </div>
   </div>
</div>
