@page
@model YouTubeModel
@{
   ViewData["Title"] = "YouTube";
}

<div class="container">
   <div class="row">
      <div class="col-1"></div>
      <div class="col text-left pirate-border-orange">
         Stuff
      </div>
      <div class="col-2 text-right pirate-border-purple">
         <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
               <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
            </svg>
         </button>
         <button>| <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info" viewBox="0 0 16 16">
   <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
</svg></button>
      </div>
      <div class="col-1"></div>
   </div>
   <div class="row text-center">
      <div class="col-12">
         <iframe class="pirate-video-large rounded" src="https://www.youtube.com/embed/yvXkCowkbro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
   </div>
   <div class="row mb-2">
      <div class="col-1"></div>
      <div class="col pirate-border-blue">
         Search utility
      </div>
      <div class="col-2 text-center pirate-border-yellow-greenish">
         <select class="pirate-select" id="videoListSelect">
            <option value="all">All Videos</option>
         </select>
      </div>
      <div class="col-1"></div>
   </div>
   <div class="row text-center">
      <div class="col pirate-border-orange">
         <iframe class="pirate-video-small rounded mr-2" src="https://www.youtube.com/embed/yvXkCowkbro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
         <iframe class="pirate-video-small rounded mr-2" src="https://www.youtube.com/embed/yvXkCowkbro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
         <iframe class="pirate-video-small rounded mr-2" src="https://www.youtube.com/embed/yvXkCowkbro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
         <iframe class="pirate-video-small rounded" src="https://www.youtube.com/embed/yvXkCowkbro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
      </div>
   </div>
   <div class="row">
      <div class="col text-left">
         <button class="pirate-button">&larr; Prev</button>
      </div>
      <div class="col text-right">
         <button class="pirate-button">Next &rarr;</button>
      </div>
   </div>
</div>

@*<h2>YouTube</h2>
<h3>@Model.Message</h3>

<script src="@Url.Content("~/js/site.js")"></script>
<script>
   $(document).ready(function () {
      $('@Html.Raw(Model.YouTubeCarouselItems)').appendTo('.carousel-inner');
      $('@Html.Raw(Model.YouTubeListItems)').appendTo('.carousel-indicators');
      CarouselEvent();
   });
</script>*@