@page
@model YouTubeModel
@{
   ViewData["Title"] = "YouTube";
}

<div class="container">
   <div class="row">
      <div class="col-1"></div>
      <div class="col text-left pirate-border-orange">
         Stuff
      </div>
      <div class="col text-right pirate-border-purple">
         Share | i
      </div>
      <div class="col-1"></div>
   </div>
   <div class="row text-center">
      <div class="col-12">
         <iframe class="pirate-video-large rounded" src="https://www.youtube.com/embed/yvXkCowkbro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
   </div>
   <div class="row mb-2">
      <div class="col-1"></div>
      <div class="col pirate-border-blue">
         Search utility
      </div>
      <div class="col-2 text-center pirate-border-yellow-greenish">
         <select class="pirate-select" id="videoListSelect">
            <option value="all">All Videos</option>
         </select>
      </div>
      <div class="col-1"></div>
   </div>
   <div class="row text-center">
      <div class="col pirate-border-orange">
         <iframe class="pirate-video-small rounded mr-2" src="https://www.youtube.com/embed/yvXkCowkbro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
         <iframe class="pirate-video-small rounded mr-2" src="https://www.youtube.com/embed/yvXkCowkbro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
         <iframe class="pirate-video-small rounded mr-2" src="https://www.youtube.com/embed/yvXkCowkbro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
         <iframe class="pirate-video-small rounded" src="https://www.youtube.com/embed/yvXkCowkbro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
      </div>
   </div>
   <div class="row">
      <div class="col text-left">
         <button class="pirate-button">&larr; Prev</button>
      </div>
      <div class="col text-right">
         <button class="pirate-button">Next &rarr;</button>
      </div>
   </div>
</div>

@*<h2>YouTube</h2>
<h3>@Model.Message</h3>

<script src="@Url.Content("~/js/site.js")"></script>
<script>
   $(document).ready(function () {
      $('@Html.Raw(Model.YouTubeCarouselItems)').appendTo('.carousel-inner');
      $('@Html.Raw(Model.YouTubeListItems)').appendTo('.carousel-indicators');
      CarouselEvent();
   });
</script>*@